<span *ngIf="getActiveUser() === null">
  <span *ngIf="!isLoading">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

      <div class="mb-1">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faUser"></fa-icon>
              </span>
          </div>
          <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Username"
          id="username"
          formControlName="username"
          >
        </div>
        <span class="app-form-warning" *ngIf="!signInForm.get('username').valid && signInForm.get('username').touched">You must provide a valid username</span>
        <span class="app-form-warning" *ngIf="signInForm.get('username').valid || !signInForm.get('username').touched"><br></span>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faKey"></fa-icon>
              </span>
          </div>
          <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Password"
          id="password"
          formControlName="password"
          >
        </div>
      </div>
      <div class="d-flex flex-column mt-3">
        <button
        type="submit"
        class="btn btn-primary btn-lg mb-1"
        [disabled]="!signInForm.valid">
          Login
        </button>
        <button
        type="button"
        class="btn btn-primary btn-sm mb-1"
        (click)="onSignup()">
          Sign Up
        </button>
      </div>
      <span class="app-form-warning" *ngIf="authDenied">Incorrect username/password</span>
    </form>
  </span>
  <span *ngIf="isLoading" class="center-container">
    <app-spinner></app-spinner>
  </span>
</span>
<span *ngIf="getActiveUser() !== null && !isLoading">
    <p class="app-subtitle-small">Hello, {{ getActiveUser() }}! <br> Click <a [routerLink]="['/user', getActiveUser()]">My Page</a> to see your profile.</p>
  <button
  type="button"
  class="btn btn-primary"
  (click)="onLogout()">
    Logout
  </button>
</span>
<span *ngIf="getActiveUser() !== null && isLoading" class="center-container">
    <app-spinner></app-spinner>
</span>
