<div class="container">
    <div class="col-md-10 col-md-offset-4">
      <br><br><br><br>
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto content-center column text-center">
        <p class="app-title-small">Find Users</p>
        <input
        type="text"
        name="find"
        class="form-control user-find-input"
        placeholder="find..."
        (input)="onFindInput()"
        #findInput
        >
      </div>
      <br><hr><br>
      <span *ngIf="!isLoading" class="text-center">
        <div *ngFor="let user of users; let i = index">
          <div class="center-container">
          <span class="h-margin v-margin">
            <a [routerLink]="['/user', user.username]">#{{ user.username }}</a>
          </span>
          <span class="h-margin v-margin" *ngIf="!usersService.isMe(user)">
            <button class="btn btn-info follow-button" *ngIf="!usersService.isFollowed(user) && !pending[i]" (click)="followUser(user, i)">Follow</button>
            <button class="btn btn-info follow-button" *ngIf="usersService.isFollowed(user) && !pending[i]" (click)="unfollowUser(user, i)">Unfollow</button>
            <span *ngIf="pending[i]">
              ...
            </span>
          </span>
        </div>
        </div>
      </span>
      <span *ngIf="isLoading">
        <div class="center-container">
          <app-spinner></app-spinner>
        </div>
      </span>
    </div>
  </div>
