.find-user-link {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  color: #3366FF;
}

.user-find-input {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.small-box {
  max-width: 30px;
  max-height: 30px;
}

.find-item {
  border-radius: 5px;
  background-color: #eaebf5;
  transition: 0.2s;
}
.find-item:hover {
  background-color: #c3c5db;
}

.follow-button {
  font-size: 0.7rem;
}
@media screen and (max-width: 576px) {
  .follow-button {
     font-size: 0.6rem;
  }
}

