.find-user-link {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  color: #3366FF;
}

.user-find-input {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.small-box {
  max-width: 30px;
  max-height: 30px;
}

.find-item {
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 20px;
  border-width: 2px;
  border-color: #dddddd;
  border-style: solid;
  margin: 0 0;
  display: flex;
  justify-content: space-between;
}

.follow-button {
  font-size: 80%;
  height: 1.5rem;
  padding: 0 30%;
}

