.find-user-link {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  color: #3366FF;
}

.user-find-input {
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
}

.follow-button {
  height: 1.5rem;
  font-size: 1rem;
  padding: 0;
}

.small-box {
  max-width: 30px;
  max-height: 30px;
}

