<div class="container">
    <div class="col-md-10 col-md-offset-4">
      <br><br><br><br>
      <div class="content-center column text-center">
        <p class="app-title-small">Find Users</p>
      </div>
      <br><hr><br>
      <span *ngIf="!isLoading" class="center-container column">
        <div *ngFor="let user of users; let i = index"  class="col-md-10 col-md-offset-1 text-center">
          <div class="row find-item py-0 py-sm-1 my-0 my-sm-1 shadow-lg">
            <div class="col-8">
              <a [routerLink]="['/user', user.username]">#{{ user.username }}</a>
            </div>
            <div class="col-4 col-md-3 offset-md-1 justify-content-center">
              <button class="btn btn-info btn-sm follow-button" *ngIf="!usersService.isFollowed(user) && !pending[i]" (click)="followUser(user, i)">Follow</button>
              <button class="btn btn-sm follow-button" *ngIf="usersService.isFollowed(user) && !pending[i]" (click)="unfollowUser(user, i)">Unfollow</button>
              <span *ngIf="pending[i]">
                ...
              </span>
            </div>
          </div>
        </div>
      </span>
      <span *ngIf="isLoading">
        <div class="center-container">
          <app-spinner></app-spinner>
        </div>
      </span>
    </div>
  </div>
