<div class="post-item shadow-lg" [ngClass]="{'post-item-colored': fullDisplay}">
  <span (click)="toggleDisplay()" style="cursor: pointer;">
  <div class="row align-items-center">
    <div class="d-none d-md-inline col-1" *ngIf="userInfo.profileImagePath">
      <div class="row justify-content-center align-items-center">
        <img class="user-avatar img-responsive" [src]="userInfo.profileImagePath">
      </div>
    </div>
    <div class="col-11">
      <div class="row">
        <div class="col-11">
          <div class="post-title">{{ post.title }}</div>
          <div class="date-text">{{ post.formattedDate }}{{ authorText }}</div>
        </div>
        <div class="col-1 justify-content-center" *ngIf="fullDisplay && post.creatorId === getActiveUserId()">
            <button
            class="btn btn-danger comment-button"
            title="Delete Post"
            (click)="onDelete(post.id)">
            <fa-icon [icon]="faTrashAlt"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  </span>
  <div class="row justify-content-center">
      <span [@postItemTrigger]="" *ngIf="fullDisplay" style="width:100vw;">
        <div class="col-12">
          <mat-card class="p-3 mx-3 my-4 post-content-bg-color shadow" >
            <mat-card-content>
              <div class="post-text-content" [innerHtml]="post.content | linkify | newline "></div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 justify-content-center align-items-center">
        <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
          <textarea
            *ngIf="canComment()"
            type="text"
            placeholder="add a comment..."
            class="form-control new-comment-input comment-text"
            rows="2"
            id="content"
            name="content"
            formControlName="content"></textarea>

            <button
              class="btn btn-outline-dark comment-button"
              type="submit"
              [disabled]="!commentForm.valid"
              *ngIf="canComment()">
              Comment
            </button>

        </form>
        </div>
        <br>
        <span class="comments-header" *ngIf="comments.length > 0" style="margin-left: 2%;">
            Comments:
            <br><br>
        </span>
        <div class="container-fluid">
          <div *ngFor="let comment of comments">
            <div class="row py-2 my-3 mx-0 mx-sm-1 mx-md-2 shadow-lg comment-container">
              <div class="col-4 col-lg-3 col-xl-2">
                <div class="row justify-content-end">
                  <a [routerLink]="['/user', comment.creatorName]" class="comment-info-text"><strong>#{{ comment.creatorName }}:</strong></a>
                </div>
                <div class="row justify-content-end">
                    <div class="date-text">{{ comment.formattedDate }}</div>
                </div>
              </div>
              <div class="col-6 col-lg-8 col-xl-9">
                <div class="h-margin comment-text-content" [innerHtml]="comment.content | linkify | newline"></div>
              </div>
              <div class="col-2 col-lg-1">
                <div class="row justify-content-center">
                <button
                  class="btn btn-outline-secondary delete-comment-button"
                  (click)="deleteComment(comment)"
                  *ngIf="comment.creatorId === getActiveUserId() || post.creatorId === getActiveUserId()">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <span *ngIf="isLoadingComments">
            <app-spinner></app-spinner>
        </span>
      </span>

  </div>
</div>
<br>
<br>

