.post-title {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.post-content {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-hover {
  background-color: #eaebf5;
}

.post-item {
  border-radius: 20px;
  padding: 20px;
}

.new-comment-input {
  resize: none;
  max-height: 25rem;
  min-height: 1rem;
  width: 60%;
}


