<div class="pt-md-5 pb-md-4 mx-auto text-center">
    <div class="feed-title" *ngIf="!error">
      #{{ username }}<span class="feed-subtitle">://feed</span>
    </div>
  </div>

<div class="container mt-5">
  <div class="col-10 offset-1" *ngIf="!isLoading">
    <app-post-item
    *ngFor="let post of posts"
    [post]=post
    [userId]="post.creatorId">
    </app-post-item>
  </div>
  <span *ngIf="isLoading">
    <app-spinner></app-spinner>
  </span>

  <span *ngIf="isLoadingMore">
    <app-spinner></app-spinner>
  </span>
</div>
