<div class="center-container column">
  <mat-card style="margin-bottom: 200px;">
    <mat-card-content>
      <div class="col-md-12 col-md-offset-2 text-center">
          <p class="app-title">Join Bloggism,</p>
          <p class="app-subtitle">And immediately share your inner to the outer</p>
          <hr>
          <p class="app-subtitle-small">Please choose a username and a password, and instantly join us!</p>
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
            </div>
            <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Username"
            id="username"
            formControlName="username"
            (input)="onCheckTypedUserAlreadyExists()">

          </div>
          <span class="app-form-warning" *ngIf="typedUserAlreadyExists">Username already exists, please choose another username</span>
          <span class="app-form-warning" *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">You must provide a valid username: 4-15 characters, only letters, numbers, '-' and '.' are allowed.</span>
          <span class="app-form-warning" *ngIf="(!typedUserAlreadyExists && signupForm.get('username').valid) || !signupForm.get('username').touched"><br></span>
        </div>

        <div class="mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="faKey"></fa-icon>
                </span>
            </div>
            <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password"
            id="password"
            formControlName="password"
            >
          </div>
        </div>

        <div class="mb-1">
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                  <fa-icon [icon]="faKey"></fa-icon>
                </span>
            </div>
            <input
            type="password"
            name="repeatPassword"
            class="form-control"
            placeholder="Repeat password"
            id="repeatPassword"
            formControlName="repeatPassword"
            >
          </div>
          <span class="app-form-warning" *ngIf="!passwordsMatch() && this.signupForm.get('password').touched && this.signupForm.get('repeatPassword').touched; else brLine">Passwords do not match.</span>
          <ng-template #brLine><br></ng-template>
        </div>

        <div class="d-flex flex-column mt-3">
          <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="!signupForm.valid || typedUserAlreadyExists || waitingCheck || !passwordsMatch()">
            Join
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
