<div class="container-fluid">
  <div class="row my-5 mx-2 justify-content-center">
    <div class="action-bar col-2 d-flex" *ngIf="!error && isMe">
      <div class="container-fluid align-items-stretch justify-content-center">
        <app-action-bar></app-action-bar>
      </div>
    </div>
    <div class="col-10 px-5">
      <div class="pt-md-5 pb-md-4 mx-auto text-center">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="user-profile-title" *ngIf="!error">
              #{{ username }}
          </div>
        </div>
        <span *ngIf="!isFollowed && !isMe && !pendingFollow && !isLoadingUser">
          <div class="row d-flex justify-content-center">
            <div class="col-1">
              <button class="my-3 btn btn-info follow-button" (click)="followUser()">Follow</button>
            </div>
          </div>
        </span>
        <span *ngIf="isFollowed && !isMe && !pendingFollow && !isLoadingUser">
          <div class="row d-flex justify-content-center">
            <div class="col-1">
              <button class="my-3 btn follow-button" (click)="unfollowUser()">Unfollow</button>
            </div>
          </div>
        </span>
        <div class="row d-flex justify-content-center">
          <div class="col-3" *ngIf="userInfo.profileImagePath">
            <img class="rounded" [src]="userInfo.profileImagePath" alt="" style="max-height: 150px; max-width: 150px;">
          </div>
        </div>
      </div>

      <div class="text-center" *ngIf="!isLoadingInfo">
        <div class="user-header-text" *ngIf="headerText !== ''">
            {{ headerText }}
        </div>
        <div class="app-subtitle-small" *ngIf="birthDayText !== '' && !hideDate">
            Birthday: {{ birthDayText }}
        </div>
      </div>
      <span *ngIf="isLoadingInfo">
        <app-spinner></app-spinner>
      </span>
      <br>
      <br>
      <span *ngIf="!isLoading && !error">
      <app-post-item
        *ngFor="let post of posts"
        [post]=post
        [userId]="user.id">

      </app-post-item>
      </span>
      <span *ngIf="posts.length === 0 && !isLoading">
        User has no posts!
      </span>
      <span *ngIf="error">
        <div class="app-subtitle-small">
          Error: {{ error }}
        </div>
      </span>
      <span *ngIf="isLoading">
        <div class="center-container">
          <app-spinner></app-spinner>
        </div>
      </span>
    </div>
  </div>
</div>
