<div class="container-fluid">
  <div class="row my-5 mx-2 justify-content-center">
    <div class="col-3 d-flex align-items-stretch justify-content-center">
      <app-action-bar class="action-bar" *ngIf="!error && isMe"></app-action-bar>
    </div>
    <div class="col-9">
    <div class="pt-md-5 pb-md-4 mx-auto text-center">
      <div class="user-profile-title" *ngIf="!error">
        #{{ username }}
      </div>
    </div>
    <div class="text-center" *ngIf="!isLoadingInfo">
      <div class="user-header-text" *ngIf="headerText !== ''">
          {{ headerText }}
      </div>
      <div class="app-subtitle-small" *ngIf="birthDayText !== '' && !hideDate">
          Birthday: {{ birthDayText }}
      </div>
    </div>
    <span *ngIf="isLoadingInfo">
      <app-spinner></app-spinner>
    </span>
    <br>
    <br>
    <span *ngIf="!isLoading && !error">
    <app-post-item
      *ngFor="let post of posts"
      [post]=post
      [user]="user">

    </app-post-item>
    </span>
    <span *ngIf="posts.length === 0 && !isLoading">
      User has no posts!
    </span>
    <span *ngIf="error">
      <div class="app-subtitle-small">
        Error: {{ error }}
      </div>
    </span>
    <span *ngIf="isLoading">
      <div class="center-container">
        <app-spinner></app-spinner>
      </div>
    </span>
    </div>
  </div>
</div>
