<div class="container-fluid">
  <div class="row my-5 mx-2 justify-content-center">
    <div class="action-bar col-12 col-md-3 col-lg-2 d-flex my-4 my-sm-0 px-0" *ngIf="!error && isMe">
      <div class="container-fluid align-items-stretch justify-content-center">
        <app-action-bar></app-action-bar>
      </div>
    </div>


    <!-- Main column: header and posts -->
    <div class="col-12 col-md-9 col-lg-10 col-lg-offset-2 px-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2">

          <!-- Profile header -->
          <mat-card class="p-0 p-sm-2 p-lg-5 m-0 m-sm-2 m-lg-4 rounded shadow-lg" >
            <mat-card-content>
              <div class="pt-sm-5 pb-sm-4 mx-auto text-center">
                <div class="row d-flex align-items-center justify-content-center">
                  <div class="user-profile-title" *ngIf="!error">
                      #{{ username }}
                  </div>
                </div>
                <span *ngIf="!isFollowed && !isMe && !pendingFollow && !isLoadingUser">
                  <div class="row justify-content-center">
                    <div class="col-2">
                      <button class="my-3 btn btn-info follow-button" (click)="followUser()">Follow</button>
                    </div>
                  </div>
                </span>
                <span *ngIf="isFollowed && !isMe && !pendingFollow && !isLoadingUser">
                  <div class="row justify-content-center">
                    <div class="col-2">
                      <button class="my-3 btn follow-button" (click)="unfollowUser()">Unfollow</button>
                    </div>
                  </div>
                </span>
                <!-- To keep button space while pending follow/unfollow -->
                <span *ngIf="pendingFollow">
                  <div class="row justify-content-center">
                    <div class="col-2">
                      <button class="my-3 btn follow-button" style="visibility: hidden;">Unfollow</button>
                    </div>
                  </div>
                </span>
                <div class="row justify-content-center">
                  <div class="col-9 px-0" *ngIf="userInfo.profileImagePath">
                    <img class="profile-photo rounded" [src]="userInfo.profileImagePath" alt="" (click)="photoViewOpen(userInfo.profileImagePath)">
                  </div>
                </div>
              </div>
              <div class="text-center" *ngIf="!isLoadingInfo">
                  <div class="user-header-text" *ngIf="headerText !== ''">
                      {{ headerText }}
                  </div>
                  <div class="app-subtitle-small" *ngIf="birthDayText !== '' && !hideDate">
                      Birthday: {{ birthDayText }}
                  </div>
                </div>
                <span *ngIf="isLoadingInfo">
                  <app-spinner></app-spinner>
                </span>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <br>
      <br>
      <span *ngIf="!isLoading && !error">
      <app-post-item
        *ngFor="let post of posts"
        [post]=post
        [userId]="user.id">

      </app-post-item>
      </span>
      <span *ngIf="posts.length === 0 && !isLoading">
        User has no posts!
      </span>
      <span *ngIf="error">
        <div class="app-subtitle-small">
          Error: {{ error }}
        </div>
      </span>
      <span *ngIf="isLoading">
        <div class="center-container">
          <app-spinner></app-spinner>
        </div>
      </span>
    </div>
  </div>
</div>
