.user-profile-title {
  font-size: 2rem;
  font-weight: bolder;
  color: #3366FF;
}

.user-profile-title:hover {
  text-decoration: underline;
}

.user-header-text {
  font-size: 1.2rem;
  color: rgb(26, 52, 131);
}

.action-bar {
  border-radius: 20px;
  padding: 20px 0;

  transition: 0.2s;
}

.action-bar:hover {
  background-color: #eaebf5;
}
