.user-profile-title {
  font-size: 2rem;
  font-weight: bolder;
  color: #3366FF;
}
@media screen and (max-width: 576px) {
  .user-profile-title {
     font-size: 1.5rem;
  }
}

.user-profile-title:hover {
  text-decoration: underline;
}

.user-header-text {
  font-size: 1.2rem;
  color: rgb(26, 52, 131);
}
@media screen and (max-width: 576px) {
  .user-header-text {
     font-size: 1rem;
  }
}

.user-header-subtext {
  font-size: 0.9rem;
  color: rgb(26, 52, 131);
}
@media screen and (max-width: 576px) {
  .user-header-subtext {
     font-size: 0.7rem;
  }
}


.action-bar {
  border-radius: 20px;
  padding: 20px 0;

  transition: 0.2s;
}

.profile-photo {
  cursor: pointer;
  max-height: 15vh;
  max-width: 15vw;
  transition: 0.2s;
}

.profile-photo:hover {
  -webkit-filter: opacity(70%);
  filter: opacity(70%);
}

.action-bar:hover {
  background-color: #eaebf5;
}

.follow-button {
  font-size: 80%;
  padding: 0 10%;
  max-width: 70%;
}
