<div class="container">
  <div class="row">
    <div class="col-lg">
      <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="app-title-small">Your Posts</p>
      </div>
      <br>
      <br>
      <span *ngIf="postsAvailable">
      <app-post-item
        *ngFor="let post of posts"
        [post]=post>

      </app-post-item>
      </span>
      <span *ngIf="!postsAvailable">
        <div class="center-container">
          <app-spinner></app-spinner>
        </div>
      </span>
    </div>
  </div>
</div>
