/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.app-title {
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app-title-small {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app-subtitle {
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app-subtitle-small {
  font-size: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.app-form-warning {
  color: red;
  font-style: italic;
  font-size: 13px;
}


.app-button-margin {
  margin-right: 5%;
}

.app-post-button {
  color: rgb(87, 0, 0);
  background-color: #EEAAAA;
  font-size: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.app-input-1 {
  border: none;
  background-color: blue;
}



.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.h-margin {
  margin-left: 3%;
  margin-right: 3%;
}

.v-margin {
  margin-top: 1%;
  margin-bottom: 1%;
}

.column {
    flex-direction: column;
}


.content-center {
  display: flex;
}



